* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 400vh;
    width: 100%;
    overflow-y: scroll;
}


/* Below code is to hide the scroll-y */
body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
/* Firefox and Internet Explorer 10+
body {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
} */


#box {
    background-image: url(static/repeat_grid.png);
    background-size: contain;
    background-color: rgb(240, 236, 229);
    min-height: 100vh;
    width: 100vw;
    position: fixed;
}


.centre_circle{
    margin: 0;
    padding: 0;
    position: absolute;
    border-radius: 50%;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#circle {
    position: relative;
    background-color: rgba(208, 222, 16, 0);
    border-radius: 50%;
    top: 50vh;
    left: 50vw;    
}

#sections{
    height: 28%;
    aspect-ratio: 1;
    background-color: rgba(0, 85, 255, 0.192);
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transform: translate(-50%,-50%);
    animation-name: rotateobj;
    animation-timing-function: linear;
    animation-timeline: scroll();
    
}

#secbox{
    background-color: rgba(0, 0, 0, 0.12);
    height: 40%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.sec {
    height: 100%;
    aspect-ratio: 1;
    list-style: none;
    position: absolute;
    background-color: rgba(255, 0, 170, 0.225); 
    
}


#circle2 {
    background-color: rgba(255, 0, 81, 0);
    height: 57%;
    width: 57%;

}

.rotatation_animation{
    transform: translate(-50%,-50%);
    animation-name: rotateobj;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

#projects{
    position: absolute;
    height: 57%;
    top:50%;
    left: 50%;
    animation-duration: 30s;
    animation-direction: reverse;   
}

#circle3 {
    background-color: rgba(217, 255, 0, 0);
    height: 49%;
    width: 49%;

}

#services{
    position: absolute;
    height: 97%;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation-duration: 30s;  
}

#engine {
    position: absolute;
    height: 90%;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);  
}

#circle4 {
    background-color: rgba(20, 64, 86, 0);
    height: 60%;
    width: 60%;
}

#info{
    position: absolute;
    height: 100%;
    top: 50%;
    left: 50%;
    animation-duration: 30s;
    animation-direction: reverse;
}

#circle5 {
    z-index: 10;
    background-color: rgba(255, 0, 81, 0);
    height: 68%;
    width: 68%;
    animation-name: example;
    animation-duration: 4s;
    animation-timeline: scroll();
    animation-timing-function: linear;

}

#email{
    position: absolute;
    bottom: 0%;
    left:50%;
    height: 25%;
    transform: translate(-50%,0%);

}

.social_icons{
    height: 8%;
    position: absolute;
}
#instagram{
    top: 60%;
    left: 3%;
}
#dribble{
    top: 60%;
    right:3%;
}
#linkedin{
    top: 20.5%;
    left: 8%;
    height: 7%;
}
#behance{
    top: 21%;
    right:8%;
    height: 6%;
}
#twitter{
    top: 0%;
    left:50%;
    transform: translate(-50%,0);
}

#logo_holder {
    background-color: rgba(0, 255, 102, 0);
    height: 70%;
    width: 70%;

}

#centre_logo{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 41%;
    transform: translate(-50%,-50%);
    animation-name: rotateobj;
    animation-duration: 4s;
    animation-timeline:scroll();
    animation-timing-function: linear;
}

.projsec{
    position: absolute;
    height: 180%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(165, 42, 42, 0);
    /* animation-name: rotateobj; */
    animation-duration: 60s;
    animation-iteration-count: infinite;
}



@keyframes rotateobj {
    0% {transform: translate(-50%,-50%) rotate(0deg);}
    100% {transform: translate(-50%,-50%) rotate(360deg);}
}

@keyframes fade_out {
    0% {opacity: 100;}
    100% {opacity: 0;}
}

@keyframes fade_in {
    0% {opacity: 100;}
    100% {opacity: 0;}
}

@keyframes example {
    0% {background-color: rgba(255, 0, 0, 0.339);}
    50% {background-color: rgba(255, 255, 0, 0.265);}
    100% {background-color: rgba(255, 0, 0, 0.339);}
}